npm_config_registry=https://artifactory.hq.corp.phoenix.co.il:8443/artifactory/api/npm/npm/
registry=https://artifactory:8443/artifactory/api/npm/npm/
_auth = YWRtaW46QVAyZXBGRnRnMTVQV0tpd3czUGFDNHNySlky
email=devopsteam@phoenix.co.il
always-auth=true
strict-ssl=false
